[x] Use of templates
[x] Use of database
[ ] Use of express plugin libraries
[ ] User registration 
[ ]  - cookies and session
[ ]  - hashing of password
[x]  - JSON Web Token
[ ] Error handling

Full CRUD (application specific)
- catalog
- details
- create
- edit
- delete

Demo global error handling